.employee_content_dismissal {
    width: 100%;
    height: calc(100vh - 64px);
    padding: 10px;
}

.employee_content_dismissal_header {
    display: flex;
    align-items: center;
}

.employee_content_dismissal_body {
    height: calc(100vh - 120px);
    background: #FFFFFF;
    border-radius: 5px;
    overflow: auto;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.employee_content_dismissal_body_addJob{
    height: calc(100vh - 120px);
    background: #FFFFFF;
    border-radius: 5px;
    overflow: auto;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}
@media (max-width: 1500px) {
    .employee_content_dismissal_body {
        height: calc(100vh - 100px);
    }
    .employee_content_dismissal_body_addJob {
        height: calc(100vh - 100px);
    }
}

.employee_content_dismissal_body_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

.employee_content_dismissal_body_title_search {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #F1F2F4;
    background: #FFF;
    padding: 5px;
    color: black;
    height: 100%;
}

.employee_content_dismissal_body_title_search input {
    border: 0;
    outline: none;
    margin-left: 5px;
    color: #000;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.employee_content_dismissal_body_title_search input::placeholder {
    color: black !important;
}

.employee_content_dismissal_body_title_right {
    display: flex;
    align-items: center;
    height: 100%;
}

.employee_content_dismissal_body_title_right_filter {
    border-radius: 5px;
    border: 1px solid #F1F2F4;
    background: #FFF;
    display: flex;
    padding: 5px 8px;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.employee_content_dismissal_body_title_right_add {
    display: flex;
    /*width: 200px;*/
    height: 100%;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    background: #FFDEDE;
    color: #AC0000;
    cursor: pointer;
}
.employee_content_dismissal_body_title_right_add span{
    margin-left: 8px;
}

.employee_content_dismissal_body_title_right_add:hover {
    background: #EB4143;
    color: #FFFFFF;
}

.employee_content_dismissal_body_table {
    margin-top: 10px;
    height: calc(100% - 45px);
    overflow: auto;
    position: relative;
}

.employee_content_dismissal_body_table_pagination {
    position: sticky;
    bottom: 0;
    left: 0;
    width: fit-content; /* Use fit-content if supported */
    background: #FFFFFF;

}



/*delete modal*/

.mymodal {
    border-radius: 5px;
}

.delete_modal {
    padding: 10px 15px;
}

.delete_modal h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #29B85D;
    text-align: center;
}

.delete_modal .delete_modal_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.delete_modal .delete_modal_button_left {
    background: #FFDEDE;
    color: #AC0000;
    font-family: "Open Sans";
    border-radius: 5px;
    font-size: 14px;
    width: 60px;
}

.delete_modal_button_left:hover {
    background: #AC0000;
    color: #FFFFFF;
}

.delete_modal_button_right {
    background: #ABFCC8;
    color: #00752A;
    font-family: "Open Sans";
    border-radius: 5px;
    font-size: 14px;
    width: 60px;
}

.delete_modal_button_right:hover {
    background: #29B85D;
    color: #FFFFFF;
}

/*delete modal*/