/*.providing_table_content{*/
/*    padding: 10px;*/
/*}*/

.prproviding_table_content_top{
    display: flex;
    justify-content: space-between;

}


/*----table----*/
.amallar{
    display: flex;
    justify-content: space-around;
}

.amallar_button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    cursor: pointer;
    color: #767B87;
}

.amallar_button:hover{
    color: #26BF56;
}
.table_file_download{
    display: flex;
    font-family: "Open Sans";
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid  #E0E3E6;
}
.table_file_download img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}




.link_style {
    color: blue; /* Set link color */
    text-decoration: underline!important; /* Underline the link text */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Style for visited links */
.link_style:visited {
    color: purple; /* Set color for visited links */
}

/* Style for hover effect */
.link_style:hover {
    color: darkblue; /* Set color when hovered */
    text-decoration: none; /* Remove underline on hover */
}